main{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_960_720.jpg);
    background-size: cover;
    padding: 100px;
    height: 350px;
}
.container h1{
    color:#f5f6fa;
    font-family: Arial;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 60px;
    bakcground-color: none;
}

.container{
    text-align: center;
}

.container p{
    font-size: 25px;
    color:white;
}

.btn-wrapper{
    text-align: center;
}

.btn-wrapper p{
    margin: 20px 0;
    font-family:rubik;
    font-size: 20px;
}

.start a{
    background-color:#4a69bd;
    padding: 10px;
    borede-radius: 8px;
    color: white;
    opacity:0.8;
    font-family:"Grape Nuts";
}
